<mat-card class="hero-card">
    <mat-card-header>
        <mat-card-title>{{hero.name | uppercase}}</mat-card-title>
        <mat-card-subtitle>Details</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>id:</mat-label>
            <input matInput [(ngModel)]="hero.id" readonly />
        </mat-form-field>
        <mat-form-field>
            <mat-label>name:</mat-label>
            <input matInput [(ngModel)]="hero.name" placeholder="name" />
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Edit</button>
    </mat-card-actions>
</mat-card>